<<<<<<< HEAD
/* Vidar Selands tilpasninger, AKOM, Helsedirektoratet 23.11.15 */ 

body {
	background-color: #f7f6f6;
	background-image: url("images/bakgrunn_menneske.svg");
	background-position: right top;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 30% auto;
	font-family: 'calibri', sans-serif;
	font-size: 20px;
	font-weight: lighter;
	
}

/* Tabelldesign */


table {
min-width: 75%;}

tr {
	background-color: #fff;
}

th {
	background-color: #91c6c2;
	text-align: center;
	font-size: 16px;
	padding: 5px;
	line-height: 20px;
	color: #222;
	font-weight: bold;
	vertical-align: baseline;
	border: 1px solid #999;

}

td {
	border: 1px solid #999;
	padding: 0.5rem;
	text-align: left;
}


/* Header-relatert */

header {
	background-color: #fff;
}

header .left {
	display: none;
}

html {
    background-color: #fff;
}

.main-logo {
	max-width: 289px;
	float:left;
}


/* Font-formatering */ 


h1, h2, h3 {
font-family: SohoGothicStd;
font-weight: 100;
}

h1 {
	margin: 35px 0 10px 0;
/*    padding: 20px 0px 20px 0px; */
    font-size: 48px;
    color: #333;
    line-height: 1.4;
}

h2 {
	padding: 20px 0px 0px 0px;
	font-size: 34px;
	line-height: 1.4;
}

h3 {
    color: #262626;
    font-size: 28px;
    padding-bottom: 20px;
}


/* Input, select, skjema++ */

input, select, .form-control {
font-family: SohoGothicStd;
color: #707070;
font-size: 16px;
border: 1px solid #D1D0CF;
border-radius: 3px;
padding: 5px 38px 4px 10px;
}
	
.form-group {
    padding-bottom:20px;
}

/* Knapper */ 

.btn {
	background-color: #0093a7;
	border: 2px solid #0093a7;
	color: #fff;
	min-width: 120px;
	margin: 0 25px 25px 0;
}

.btn_hover {
	background-color: #01737c;
}

.btn-primary:hover, .btn-primary:focus {
	background-color: #01737c;
	border-color:  #01737c;
}






#tidligeretransfusjon, #blodkonsentrat, #temperaturstigning, #komp-annet-text, 
#ahtr-valg0, #ahtr-valg1, #ahtr-valg2, #ahtr-valg3, #ahtr-valg4, #ahtr-valg5, 
#ahtr1-valg0, #ahtr1-valg1, #ahtr1-valg2, #ahtr1-valg3, #ahtr1-valg4, #ahtr1-valg5, #ahtr1-valg6, #ahtr1-valg7,
#dhtr1-valg0, #dhtr1-valg1, #dhtr1-valg2, #dhtr1-valg3, #dhtr1-valg4, #dhtr1-valg5, #dhtr1-valg6, #dhtr1-valg7,
#fhtr1-valg0, #fhtr1-valg1, #fhtr1-valg2, #fhtr1-valg3, #fhtr1-valg4, #fhtr1-valg5, #fhtr1-valg6, #fhtr1-valg7,
#ihtr1-valg0, #ihtr1-valg1, #ihtr1-valg2, #ihtr1-valg3, #ihtr1-valg4, #ihtr1-valg5, #ihtr1-valg6, #ihtr1-valg7,
#alhtr1-valg0, #alhtr1-valg1, #alhtr1-valg2, #alhtr1-valg3, #alhtr1-valg4, #alhtr1-valg5, #alhtr1-valg6, #alhtr1-valg7,
#khtr1-valg0, #khtr1-valg1,
#phtr1-valg0, #phtr1-valg1, #phtr1-valg2, #phtr1-valg3,
#trhtr1-valg0, #trhtr1-valg1, #trhtr1-valg2, #trhtr1-valg3, #trhtr1-valg4, #trhtr1-valg5, #trhtr1-valg6, #trhtr1-valg7, #trhtr1-valg8, #trhtr1-valg9,
#tadhtr1-valg0, #tadhtr1-valg1, #tadhtr1-valg2, #tadhtr1-valg3, #tadhtr1-valg4,
#tachtr1-valg0, #tachtr1-valg1, #tachtr1-valg2, #tachtr1-valg3, #tachtr1-valg4,
#hemhtr1-valg0,
#hyphtr1-valg0,
#bakhtr1-valg0, #bakhtr1-valg1, #bakhtr1-valg2, #bakhtr1-valg3,
#virhtr1-valg0, #virhtr1-valg1, #virhtr1-valg2,
#asmhtr1-valg0, #asmhtr1-valg1, #asmhtr1-valg2,
#aihtr-valg0, #aihtr-valg1, #aihtr-valg2, #aihtr-valg3, #aihtr-valg4, #aihtr-valg5, #aihtr-valg6, #aihtr-valg7,
#transfusjonforebygg,
#tab-tidligere, #beskriv-ja,
#tabskaearm-ja, #systemiskbivirkning-ja, #behandling, #behandlingselected,
#forbedringtiltak
 {    
    padding: 10px 20px;
    background-color: #eee;
    margin-left: 20px;
}

#behandlingJa, #tab-avregistrert-ja {
    padding: 20px;
    background-color: #eee;
    margin-left: 20px;
}

#behandlingJa input[type="checkbox"] {
    line-height: normal;
    margin: 4px 4px 0 0;
}

#spesialist-txt {
    padding-bottom: 10px;
}

#temperaturstigning label {
    padding-left: 0px;;
}

=======
/* Vidar Selands tilpasninger, AKOM, Helsedirektoratet 23.11.15 */ 

body {
	background-color: #f7f6f6;
	background-image: url("images/bakgrunn_menneske.svg");
	background-position: right top;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 30% auto;
	font-family: 'calibri', sans-serif;
	font-size: 20px;
	font-weight: lighter;
	
}

/* Tabelldesign */


table {
min-width: 75%;}

tr {
	background-color: #fff;
}

th {
	background-color: #91c6c2;
	text-align: center;
	font-size: 16px;
	padding: 5px;
	line-height: 20px;
	color: #222;
	font-weight: bold;
	vertical-align: baseline;
	border: 1px solid #999;

}

td {
	border: 1px solid #999;
	padding: 0.5rem;
	text-align: left;
}


/* Header-relatert */

header {
	background-color: #fff;
}

header .left {
	display: none;
}

html {
    background-color: #fff;
}

.main-logo {
	max-width: 289px;
	float:left;
}


/* Font-formatering */ 


h1, h2, h3 {
font-family: SohoGothicStd;
font-weight: 100;
}

h1 {
	margin: 35px 0 10px 0;
/*    padding: 20px 0px 20px 0px; */
    font-size: 48px;
    color: #333;
    line-height: 1.4;
}

h2 {
	padding: 20px 0px 0px 0px;
	font-size: 34px;
	line-height: 1.4;
}

h3 {
    color: #262626;
    font-size: 28px;
    padding-bottom: 20px;
}


/* Input, select, skjema++ */

input, select, .form-control {
font-family: SohoGothicStd;
color: #707070;
font-size: 16px;
border: 1px solid #D1D0CF;
border-radius: 3px;
padding: 5px 38px 4px 10px;
}
	
.form-group {
    padding-bottom:20px;
}

/* Knapper */ 

.btn {
	background-color: #0093a7;
	border: 2px solid #0093a7;
	color: #fff;
	min-width: 120px;
	margin: 0 25px 25px 0;
}

.btn_hover {
	background-color: #01737c;
}

.btn-primary:hover, .btn-primary:focus {
	background-color: #01737c;
	border-color:  #01737c;
}






#tidligeretransfusjon, #blodkonsentrat, #temperaturstigning, #komp-annet-text, 
#ahtr-valg0, #ahtr-valg1, #ahtr-valg2, #ahtr-valg3, #ahtr-valg4, #ahtr-valg5, 
#ahtr1-valg0, #ahtr1-valg1, #ahtr1-valg2, #ahtr1-valg3, #ahtr1-valg4, #ahtr1-valg5, #ahtr1-valg6, #ahtr1-valg7,
#dhtr1-valg0, #dhtr1-valg1, #dhtr1-valg2, #dhtr1-valg3, #dhtr1-valg4, #dhtr1-valg5, #dhtr1-valg6, #dhtr1-valg7,
#fhtr1-valg0, #fhtr1-valg1, #fhtr1-valg2, #fhtr1-valg3, #fhtr1-valg4, #fhtr1-valg5, #fhtr1-valg6, #fhtr1-valg7,
#ihtr1-valg0, #ihtr1-valg1, #ihtr1-valg2, #ihtr1-valg3, #ihtr1-valg4, #ihtr1-valg5, #ihtr1-valg6, #ihtr1-valg7,
#alhtr1-valg0, #alhtr1-valg1, #alhtr1-valg2, #alhtr1-valg3, #alhtr1-valg4, #alhtr1-valg5, #alhtr1-valg6, #alhtr1-valg7,
#khtr1-valg0, #khtr1-valg1,
#phtr1-valg0, #phtr1-valg1, #phtr1-valg2, #phtr1-valg3,
#trhtr1-valg0, #trhtr1-valg1, #trhtr1-valg2, #trhtr1-valg3, #trhtr1-valg4, #trhtr1-valg5, #trhtr1-valg6, #trhtr1-valg7, #trhtr1-valg8, #trhtr1-valg9,
#tadhtr1-valg0, #tadhtr1-valg1, #tadhtr1-valg2, #tadhtr1-valg3, #tadhtr1-valg4,
#tachtr1-valg0, #tachtr1-valg1, #tachtr1-valg2, #tachtr1-valg3, #tachtr1-valg4,
#hemhtr1-valg0,
#hyphtr1-valg0,
#bakhtr1-valg0, #bakhtr1-valg1, #bakhtr1-valg2, #bakhtr1-valg3,
#virhtr1-valg0, #virhtr1-valg1, #virhtr1-valg2,
#asmhtr1-valg0, #asmhtr1-valg1, #asmhtr1-valg2,
#aihtr-valg0, #aihtr-valg1, #aihtr-valg2, #aihtr-valg3, #aihtr-valg4, #aihtr-valg5, #aihtr-valg6, #aihtr-valg7,
#transfusjonforebygg,
#tab-tidligere, #beskriv-ja,
#tabskaearm-ja, #systemiskbivirkning-ja, #behandling, #behandlingselected,
#forbedringtiltak
 {    
    padding: 10px 20px;
    background-color: #eee;
    margin-left: 20px;
}

#behandlingJa, #tab-avregistrert-ja {
    padding: 20px;
    background-color: #eee;
    margin-left: 20px;
}

#behandlingJa input[type="checkbox"] {
    line-height: normal;
    margin: 4px 4px 0 0;
}

#spesialist-txt {
    padding-bottom: 10px;
}

#temperaturstigning label {
    padding-left: 0px;;
}

>>>>>>> 844f43c43746d2bd69a4b702ffbb85e8783d832b
